@page "/payment/success"

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">

        <h1>Veel plezier!</h1>

        <h2>@KioskService.Movie?.Title</h2>

        <p>Vergeet niet je kaartjes mee te nemen.</p>

        <img class="tickets" src="@KioskService.Movie?.PosterUrl" alt="Film poster" />

        @if (KioskService.CurrentOrderId is not null)
        {
            <a class="btn btn-primary mt-3"
                   href="@($"/kiosk/{KioskService.CurrentOrderId}/pdf")"
                   target="_blank">
                Print tickets
            </a>
        }

    </div>
</div>