@inherits ComponentBase


<div class="sticky-bottom px-2 py-4 bg-secondary w-100 mx-0 bottom-nav-always-bottom">
    <div class="d-flex justify-content-around text-center bottom-nav-icons">

        <div class="bottom-nav-button @(_current == CurrentView.You ? "bottom-nav-highlight" : "")" >
            <i class="bi bi-person-circle " @onclick="NavigateYou"></i>
        </div>

        <div class="bottom-nav-button @(_current == CurrentView.Home ? "bottom-nav-highlight" : "")">
            <i class="bi bi-house" @onclick="NavigateHome"></i>
        </div>

        <div class="bottom-nav-button @(_current == CurrentView.Tickets ? "bottom-nav-highlight" : "")">
            <i class="bi bi-ticket-perforated" @onclick="NavigateTickets"></i>
        </div>
    </div>
</div>
