@using ConnectPlay.TicketPlay.UI.App.Components.Base

@inherits TranslatableComponent

@* This Is is where the website header content goes *@
<header>
    <nav class="navbar navbar-dark bg-dark ">
        <div class="container-fluid">

            <a class="navbar-brand" href="/">Ticket & Play</a>

            <ul class="navbar-nav flex-row me-auto">

                <li class="nav-item me-3">
                    <a class="nav-link" href="/">@T["header.nav.movies"]</a>
                </li>

                <li class="nav-item me-3">
                    <a class="nav-link" href="/contact">@T["header.nav.contact"]</a>
                </li>
            </ul>

            <a class="nav-link text-white-50" role="button" @onclick="ToggleLanguage">
                @Language
            </a>
        </div>
    </nav>
</header>