@page "/tickets"
@using ConnectPlay.TicketPlay.UI.Native.Components.Elements
@inherits ComponentBase

<div class="container">
    <h1 class="text-center">@AppResources.Tickets_Header</h1>

    <div class="d-flex flex-column justify-content-center align-content-center gap-4">
        @foreach (var order in this._orders)
        {
            <div class="card">
                <div class="card-header">
                    @{ var screening = _screenings[order.Id]; }
                    <h2>@(screening.SneakPreview ? AppResources.MovieDetail_SneakPreviewTitle : screening.Movie.Title)</h2>
                    <h3 class="text-muted">@(screening.StartTime.ToLocalTime().ToString("f", AppResources.Culture))</h3>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" @onclick="() => ToTicket(order.Id)">@AppResources.Tickets_ToTicket</button>
                    
                </div>
            </div>
        }
    </div>
</div>

<BottomNavigation Current="BottomNavigation.CurrentView.Tickets"/>