@* This is the main layout for the website *@
@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">
    <WebsiteHeader />

    <main>
        <article class="content px-4 mt-4">
            @Body
        </article>
    </main>

    <WebsiteFooter />
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>