﻿@using Microsoft.AspNetCore.Components.Forms
@using System.Linq.Expressions
@using ConnectPlay.TicketPlay.UI.App.Components.Base

@implements IDisposable
@inherits TranslatableComponent

@if (Messages != null)
{
    @* Loop through each validation message and display the translated text *@
    foreach (var message in Messages)
    {
        <div class="validation-message">
            @T[message] <!-- Translated error message -->
        </div>
    }
}