@page "/"

<PageTitle>Home</PageTitle>

<!-- We have some variables. Where do they come from? Take a look in Home.razor.cs -->

@* @if (currentMovies.Count() == 0)
{
    <p>No current movies currently playing.</p>
} 
else
{
    @foreach(var movie in currentMovies)
    {
        <p>@movie.Title</p>
    }
}

@if (newMovies.Count() == 0)
{
    <p>No new movies coming soon.</p>
}
else
{
    @foreach (var movie in newMovies)
    {
        <p>@movie.Title</p>
    }
} *@