@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Home</h1>
<a href="/movie/today">Naar films</a>
<hr />


<h2>Online al besteld? Print hier je tickets!</h2>

<div class="d-flex flex-column gap-2">
    @if (orderDoesNotExist)
    {
        <div class="alert alert-danger" role="alert">
            <p>Bestelling niet gevonden. Zorg ervoor dat je de bestelcode goed in hebt gevuld!</p>
        </div>
    }
    <div class="d-flex flex-row gap-2">
        <InputText @bind-Value="orderCode" class="form-control" placeholder="Bestelcode..." />
        <button class="btn btn-primary" disabled="@(!IsOrderCodeValid())" @onclick="TryPrintAsync"><i class="bi bi-printer"></i>Print tickets</button>
    </div>
</div>
