@page "/payment/success"

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">

        <h1>Veel plezier!</h1>

        <p>Vergeet niet je kaartjes mee te nemen.</p>

        @* TODO: add the movie poster for the img *@
        <img class="tickets" src="https://picsum.photos/300/450" alt="Film poster" />

    </div>
</div>